
<mat-card-title>Cálculo de Utilidades</mat-card-title>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Salario Mensual</mat-label>
    <input matInput #message maxlength="256" placeholder="Ingresar Salario Mensula...">
  </mat-form-field>
</form>
     
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Años Trabajando</mat-label>
    <input matInput #message maxlength="256" placeholder="Ingresar años trabajados...">
  </mat-form-field>
</form>


<section>
<div class="example-button-row"></div>
<button mat-button>Calcular</button>
</section>

<section>
  <div class="example-button-row"></div>
  <button mat-button>Salir</button>
  </section>

  <div>Su pago seria:
    
  </div>

